.button-wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  background-color: transparent;
  width: fit-content;

  > div {
    width: 100%;
    height: auto;

    &.button-control {
      width: 100%;
      height: 40px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      background-color: transparent;
      border: none;
      // border: 1px solid rgba($color: #000000, $alpha: 0.08);
      border-radius: 8px;
      padding: 0 16px;

      &.ss {
        border: 1px solid rgba($color: #000000, $alpha: 0.08);
      }

      cursor: pointer;

      > .button {
        width: 100%;
        height: 100%;
        color: rgba($color: #000000, $alpha: 0.8);
        border: none;
        background-color: transparent;
        font-size: 15px;
        pointer-events: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .icon-wrapper {
          margin-right: 8px;

          &.mMinus {
            margin-right: 0;
          }
        }
      }

      &.btnt-txt {
        height: fit-content;
        width: fit-content;
        padding: 4px 8px;
        color: #164c78;
        border: none;
        background-color: #e5f4ff;
        border-radius: 4px;

        .button {
          .body_text {
            color: #164c78;
          }
        }

        &:hover {
          background-color: rgba(22, 76, 120, 0.1);
        }
      }

      &.btnt-noborder {
        background-color: transparent;
        border: none;
        opacity: 0.7;

        .body_text {
          color: #333333;
        }

        &:hover {
          background-color: transparent;
          color: #000000;
          opacity: 1;
        }
      }

      &:hover {
        // background-color: #f8f8f8;

        &.btnt-primary {
          // background-color: #424242;
          background-color: var(--app-color-2);
        }
      }

      &.btnt-primary {
        background-color: var(--app-color);

        .body_text {
          color: #ffffff;
        }

        &:hover {
          background-color: var(--app-color);
        }
      }
    }
  }

  &.--rd {
    > div {
      &.button-control {
        &.btnt-txt {
          color: #910505;
          background-color: #ffe5e5;

          .button {
            .body_text {
              color: #910505;
            }
          }

          &:hover {
            background-color: rgba(120, 22, 22, 0.1);
          }
        }
      }
    }
  }

  &.--red {
    > div {
      &.button-control {
        &.btnt-primary {
          color: #ffffff;
          background-color: #b74b4c;

          .button {
            .body_text {
              color: #ffffff;
            }
          }

          &:hover {
            background-color: #a34445;
          }
        }
      }
    }
  }

  &.btn-iconlike {
    > div {
      padding: 0;
    }
  }
}
