.prefilled-input {
  width: 100%;
  height: fit-content;
  padding-bottom: 8px;
  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    > div {
      > img {
        width: 32px;
        height: 32px;
        border-radius: 32px;
        background-color: #f5f5f5;
      }
    }
  }
}

.input-wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  > div {
    width: 100%;
    height: auto;

    &.input-title {
      padding: 6px 0;
    }

    &.input-error {
      padding: 6px 0;
      color: #B74B4B;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 6px;
      font-size: 14px;
    }

    &.input-control {
      width: 100%;
      height: 40px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      // background-color: #ffffff;
      // border: 1px solid rgba($color: #000000, $alpha: 0.08);
      // border-radius: 8px;

      input {
        border-style: solid;
        background-color: #ffffff;
        border: 1px solid rgba($color: #000000, $alpha: 0.08);
        border-radius: 8px;
      }

      &.-with-error {
        // border-color: #B74B4B;
        // border-width: 2px;

        input {
          border-color: #B74B4B;
          border-width: 2px;
        }
      }

      &.acenter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 8px;
      }

      > input {
        width: 100%;
        padding: 0 16px;
        height: 100%;
        color: rgba($color: #000000, $alpha: 0.8);
        // border: none;
        background-color: transparent;
        font-size: 16px;
        caret-color: var(--app-color);
      }

      &:hover {
        // background-color: #f8f8f8;
      }

      &:focus-within {
        // box-shadow: 0 0 0 2px var(--app-color);
        // background-color: #ffffff;

        input {
          box-shadow: 0 0 0 2px var(--app-color);
        background-color: #ffffff;
        }
      }
    }
  }
}

@-webkit-keyframes autofill {
  0%,100% {
      // background: transparent;
  }
}

input:autofill {
  // background-color: transparent;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  // border-radius: 8px;
  //   -webkit-box-shadow: 0 0 0 30px white inset !important;
}

// input:-webkit-autofill {
//   background: transparent !important;
//   -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
//   -webkit-animation-name: autofill;
//   -webkit-animation-fill-mode: both;
//   -webkit-background-clip: text;
// }