version: '3.8'

services:
  postgres:
    image: postgres:14.2-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: assign # Change the database name
      PGDATA: /data/assign # Change the data directory
    volumes:
      - pgstore1:/var/lib/postgresql/data # Change the volume name
    ports:
      - '5434:5432'
    networks:
      - postgres
    restart: unless-stopped
networks:
  postgres:
    driver: bridge

volumes:
  pgstore1:
