.pageContainer {
    width: 100vw;
    min-height: 100%;
    background: var(--background-clr);
    flex-shrink: 0;
    flex-grow: 1;
    padding-bottom: 1px;
  }
  
  .hdrCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 220px;
    background-color: #333;
    @media (min-width: 500px) {
      height: 300px;
    }
  }
  
  .accountContainer {
    position: relative;
    width: calc(100% - 20px);
    max-width: 500px;
    margin: 120px auto 60px;
    @media (min-width: 500px) {
      margin: 200px auto 60px;
    }
    z-index: 999;
    border-radius: 10px;
    border: 1px solid var(--border-clr-25);
    background: var(--surface-clr);
    padding-bottom: 30px;
  }
  
  .accountContainerInner {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
  
  .accountContainerAccountPreviewHdr {
    width: 100%;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: translateY(-30px);
  }
  
  .accountContainerAccountPreviewHdrUserName {
    color: var(--text-clr-75);
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    width: 20ch;
    max-width: 20ch;
    text-overflow: ellipsis;
    &,
    &:focus,
    &:active {
      background-color: transparent;
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
  
  .accountContainerAccountPreviewHdrUserImage {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: var(--surface-clr);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .accountContainerAccountMoreIcon {
    position: absolute;
    right: 20px;
    top: 50px;
  }
  .iconButton {
    border-radius: 12px;
    border: none;
    background-color: transparent;
    transition: background-color 0.1s ease;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    &:active,
    &:hover {
      background-color: var(--surface-hover-clr);
    }
  }
  
  .iconButton:active {
    background: var(--surface-hover-clr);
  }
  
  .accountContainerSectionContainer {
    width: 100%;
    height: auto;
  }
  
  .accountContainerSectionTitle {
    width: calc(100% - 50px);
    max-width: 420px;
    margin: 0 auto;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 0 10px;
  
    > span {
      font-size: 18px;
      color: var(--text-clr-75);
      font-weight: 500;
    }
  }
  
  .accountContainerSectionContent {
    width: calc(100% - 50px);
    max-width: 420px;
    margin: 0 auto;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
    > span {
      font-size: 18px;
    }
  }
  
  .accountContainerSectionItem {
    width: 100%;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    white-space: nowrap;
  
    margin-bottom: 20px;
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .accountContainerSectionItemInner {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .accountContainerSectionItemLeft {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    span {
      color: var(--text-clr-75);
      display: flex;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
  
  .accountContainerSectionItemRight {
    width: auto;
  }
  
  .mR14 {
    margin-right: 14px;
  }
  
  .accountTextButton {
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--border-clr-25);
    background: var(--primary-clr);
    color: var(--on-primary-clr);
    height: 45px;
    transition: 0s, transform 0.2s ease;
    &,
    * {
      font-size: 1rem;
    }
  
    &:hover {
      transform: translateY(-2px);
    }
  }
  
  .loadingProgressContainer {
    width: 100%;
    height: auto;
    padding: 20px 40px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .loadingText {
    font-size: 18px;
  }
  
  .trail_reminder_container {
    width: 100%;
    text-align: center;
    margin-top: -20px;
    .trail_reminder_title {
      font-size: 1.3rem;
      text-align: center;
      margin: 0 0 20px;
    }
    .check_prices_btn {
      background-color: var(--primary-clr);
      color: var(--on-primary-clr);
      font-size: 1rem;
      padding: 0.6em 1em;
      border-radius: 6px;
      border: none;
      margin-top: 10px;
      margin-bottom: 20px;
      cursor: pointer;
      transition: 0s, transform 0.2s ease;
      &:hover {
        transform: translateY(-2px);
      }
      &.check_prices_btn_loading {
        color: transparent;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          width: 2ch;
          height: 2ch;
          transform: translate(-50%, -50%) rotate(0deg);
          animation: 0.4s 0s linear infinite checkpricebtnloading;
          border: 2px solid var(--on-primary-clr);
          border-radius: 50%;
          border-top-color: transparent;
          border-right-color: transparent;
        }
      }
    }
  }
  @keyframes checkpricebtnloading {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .countDown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: calc(4 * 5ch);
    margin: 0px auto 30px;
    color: var(--text-clr-900);
    font-size: 1.4rem;
    @media (min-width: 500px) {
      font-size: 1.8rem;
    }
    & > .countDown_cell {
      width: 4.3ch;
      border: 1px solid;
      box-shadow: 1px 2px 0 1px;
      font-size: inherit;
      position: relative;
      flex-shrink: 0;
      padding: 1.3ch 0;
      border-radius: 8px;
      font-weight: bold;
      &::after {
        content: attr(data-lable);
        font-size: 0.45em;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 10px);
        font-weight: normal;
        text-transform: capitalize;
      }
    }
  }
  .confirmDeleteAccountDescription {
    color: var(--text-clr-75);
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 10px;
  }
  
  .confirmDeleteAccountActions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 60px;
    & > div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: 40px;
      padding: 0 0.8em;
      border-radius: 0.4em;
      cursor: pointer;
      &:hover {
        background-color: var(--surface-hover-clr);
      }
      &.cancelRemoveAccountBtn {
        color: #008dfa;
      }
      &.confirmRemoveAccountBtn {
        color: #ff3d00;
      }
    }
  }
  
  .userEmailForm {
    width: calc(100% - 50px);
    max-width: 420px;
    margin: 0 auto 20px;
    * {
      color: var(--text-clr-75);
      font-size: 1rem;
    }
    .userEmailInputContainer {
      position: relative;
      margin: 10px 0;
      display: inline-block;
      width: 100%;
      .userEmailInput {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        margin: 0;
        background-color: var(--input-bg-clr);
        color: var(--input-clr);
        font-size: 1rem;
        padding: 0 0.4em;
      }
      .editUserEmailBtn {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: absolute;
        background-color: var(--input-bg-clr);
        top: 2px;
        right: 2px;
        margin: 0;
        border-radius: 7px;
        opacity: 0;
        cursor: pointer;
        &:active {
          transform: translate3d(0px, 1px, 0px);
        }
        &:hover{
          background-color: var(--surface-clr);
        }
      }
      &:hover {
        .editUserEmailBtn {
          opacity: 1;
        }
      }
    }
  }
  
  .editUserEmailForm{
    color: var(--text-clr-75);
    input{
      width: 100%;
      height: 40px;
      border-radius: 6px;
      color: var(--input-clr);
      background-color: var(--input-bg-clr);
      font-size: 1rem;
      margin: 10px 0 20px;
      padding: 0 .6em;
    }
  }
  