.popup_bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 7000000;
    &.hidden {
      display: none;
    }
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px hsla(0, 0%, 40%, .1);
    z-index: 7000000;
    border: none;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s 0s ease-in-out;
  
    @media (max-width: 599px) {
      width: 100% !important;
      // max-width: unset !important;
      max-width: 600px !important;
    }
    @media (min-width: 600px) {
      width: calc(100% - 160px);
      // max-width: 720px;
      max-width: 600px !important;
      &.small {
        max-width: 420px;
      }
      &.larg {
        max-width: 720px;
      }
      height: unset;
      //min-height: 300px;
      max-height: 80%;
      border-radius: 10px;
    }
    &.fixedSize {
      width: 314px !important;
      max-width: 314px !important;
      height: unset !important;
      border-radius: 10px;
  
      @media (min-width: 410px) {
        width: 400px !important;
        max-width: 400px !important;
        height: unset !important;
      }
      @media (min-width: 600px) {
        &.larg {
          width: calc(100% - 160px) !important;
          max-width: 530px !important;
        }
      }
    }
    &.hidden {
      transform: translate(-50%, -55%) scale(0.98);
      opacity: 0;
      animation-name: popupAnimation;
      animation-duration: 0s;
      animation-delay: 0.19s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      transition: 0.2s 0s ease-in-out;
      pointer-events: none;
    }
    @keyframes popupAnimation {
      0% {
        margin-top: 0;
      }
      100% {
        margin-top: -100vh;
      }
    }
    .popup_header {
      height: 55px;
      background-color: #fff;
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 8px;
      z-index: 100;
      .popup_title {
        display: inline-flex;
        margin: 0;
        margin-left: 12px;
        color: var(--popup-clr);
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
        align-items: center;
        font-size: 1.25rem;
        font-weight: 600;
        &.popup_title_small {
          font-size: 1rem;
        }
  
        & > svg {
          margin-right: 16px;
          width: 24px;
          path:global(.icon_fill) {
            fill: var(--popup-clr);
          }
        }
      }
      .close_popup {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        margin-left: auto;
        &:hover {
          background-color: #f7f7f8;
          cursor: pointer;
        }
        & > svg > path:global(.icon_fill) {
          fill: #2e3338;
        }
      }
      svg {
        pointer-events: none;
      }
    }
    .popup_content {
      padding: 6px 20px 8px;
      &.noHeader {
        padding: 25px 6px 8px;
      }
    }
  }
  